*{
    margin: 10px;
    padding: 0;
}

body{
    background-color: rgba(63, 216, 71, 0.719);
    color: ;

}

.c{
    background-color:rgba(70, 114, 73, 0.548) ;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
}

button{
    background-color:rgba(63, 216, 71, 0.219) ;
    border: 0px;
    border-color: rgba(7, 20, 7, 0.219);;
    border-radius: 20px;
    width: 100px;
    height: 50px;
}